.hero {
  background: url("bg.jpg") no-repeat center/cover;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.hero h1 {
  color: white;
  font-size: 50px;
}

.main-image {
  width: 300px;
  margin-top: 20px;
  border-radius: 10px;

.hero p {
  color: white;
}
