.hero {
  background: url("bg.jpg") no-repeat center/cover;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* 文字見やすくする */
.hero h1 {
  color: white;
  font-size: 50px;
}

.hero p {
  color: white;
}
